{% extends 'base2.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">

        <h3 id="form-title">LOGIN</h3>
      </div>
      <div class="d-flex justify-content-center form_container">
        {% comment %} <form class="requires-validation" action="{% url 'users:login2' %}" enctype="multipart/form-data" id="loginForm" novalidate="novalidate"> {% endcomment %}
          <form method="POST" action="{% url 'users:login2' %}" enctype="multipart/form-data" id="loginForm" novalidate="novalidate">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-envelope-square"></i>
              </span>
            </div>
            <input type="email" name="email" id="email1" placeholder="Email..." class="form-control" required="required">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input type="password" name="password" id="password2" placeholder="Password..." class="form-control">
          </div>
          <p>
            {% if messages.errors %}
              {% for error in messages.errors %}
                {{errors}}
              {% endfor %}
            {% endif %}
          </p>
          <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn login_btn" type="submit" value="Login" id="slogin2">
          </div>
        </form>

      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <a href="{% url 'users:register' %}" class="ml-2">Sign Up</a>
        </div>

      </div>
    </div>
  </div>

</body>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock javascript %}
